* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
}

ul {
  list-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

:root {
  --MZcolor: #51ff35;
  --HeaderHeight: 100px;
  --BannerHeight: 400px;
}
